[submodule "vendor/luajit"]
	path = vendor/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "vendor/jni-headers"]
	path = vendor/jni-headers
	url = https://github.com/vereena0x13/jni-headers.git
